// Body
$body-bg: #FFF4DC;
//added different colours to overwrite the original colours assigned to bootstrap colour labels
$primary: #e78569;
//changed the styling of bootstrap cards
.card {
    border-color: #b36049 !important;
    border-width: 1.5px !important;
    background: radial-gradient(circle, #ffd6cc, #fcc398);
}


//changed the 
.navbar {
    background: linear-gradient(180deg, #ffd0c4, #ffdcc2);
}

.list-group-item {
    border-color: #b36049 !important;
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
