// Body
$body-bg: #FFF4DC;

$primary: #e78569;

.card {
    border-color: #b36049 !important;
    border-width: 1.5px !important;
    background: radial-gradient(circle, #fe9277, #fcc398);
}

.navbar {
    background: linear-gradient(180deg, #ffd0c4, #ffdcc2);
}

.list-group-item {
    border-color: #b36049 !important;
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
